.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-template-rows: auto;
  grid-gap: 1em;
  justify-content: stretch;
  padding-left: 0;
  list-style: none;

}
.card-list, 
.card-list__message {
  flex: 1 60%;
}
.card-list__message {
  font-size: 2em;
}
.main {
  text-align: center;
  width: 100%;
  min-width: 60%;
}
.pagination {
  display: flex;
  gap: .5em;
  justify-content: center;
}