.card {
    padding: 0.1em;
    border: 1px #646cff solid;
    border-radius: .5em;
    overflow: hidden;
}

.card-title {
    height: 3em;
    padding: 0 0.5em;
    overflow: hidden;
}

.card-description{
    font-size: .9rem;
    padding: 0 0.5em;
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
