#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: .5em 1em;
  border: 1px solid #fff;
  border-radius: .5em;
}

.card-description{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-description>ul {
  margin: 0;
  list-style: none;
  text-align: left;
}

.card-img{
  max-width: 10em;
}

.subtitle {
  display: block;
  font-size: .8rem;
  color: #ffffff8f;
  font-weight: 400;
  font-style: italic;
}